@model List<ForParty.Models.ObterProdutoPedidoDTO>
@{
    ViewData["Title"] = "Adicionar pedido";
}


@if (Model == null)
{
    <div class="container-fluid px-4" id="adicionar-pedido">
        <h1 class="mt-4">Adicionar pedido</h1>
        <div id="card-pedido" class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Informações
            </div>
            <div class="card-body">
                <p>Sem registro de dados.</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="offset-md-3">
        <div class="row">
            <div class="container-fluid px-4">
                <h1 class="mt-4">Adicionar pedido</h1>
                @using (Html.BeginForm("AdicionarPedido", "Pedido", FormMethod.Post, new { id = "FormAdicionarPedido" }))
                {
                    <form>
                        <div class="form-row">
                            <div class="col-6 mt-2">
                                <label class="mb-2">
                                    CPF:
                                </label>
                                <input name="cpf" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6 mt-2">
                                <label class="mb-2">
                                    Nome:
                                </label>
                                <input name="nome" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6 mt-2">
                                <label class="mb-2">
                                    Pedido:
                                </label>
                                <select name="pedido" class="form-select">
                                    @foreach (var opcao in Model)
                                    {
                                        <option value="@opcao.Nome">
                                            @opcao.Nome (Preço: @opcao.Preco)
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12"><input type="submit" value="Cadastrar" class="btn btn-success" onclick="javascript:location.reload()"></div>
                    </form>
                }
            </div>
        </div>
    </div>
}
