@{
    ViewData["Title"] = "Entrada";
}

<div class="row">
    <div class="offset-md-3">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Saida</h1>
            @using (Html.BeginForm("Saida", "Entrada", FormMethod.Post, new { id = "FormSaida" }))
            {
                <form>
                    <div class="form-row">
                        <div class="col-6 mt-2">
                            <label class="mb-2">
                                Identificação:
                            </label>
                            <input type="text" class="form-control" placeholder="Insira a identificação do cliente">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" value="Procurar" class="btn btn-warning">
                        </div>
                    </div>
                </form>
            }

            <label class="mb-3 mt-5">Identificação: </label>
            <br />
            <label class="mb-3">Nome: </label>
            <br />
            <label class="mb-3">CPF: </label>
            <br />
            <label class="mb-3">Status do pagamento: </label>

            <div class="row">
                <div class="col-lg-12"><input type="submit" value="Concluir" class="btn btn-secondary"></div>
            </div>
        </div>
    </div>
</div>